<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="scannerSection" type="Scanner.Configuration.ScannerConfigSection, Scanner" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>

	<!--There is a folder 'Test data' in the same directory near the project. It is possible to specify a destination to that folders for tests-->
	
	<scannerSection appName = "Scanner">
		<sourceFolders>
			<!--<folder path="\\epam.com\Personal\Global\"/>--> <!--It is possible to use a personal folder to check working with net folders--> 
			<folder path="...\Source"/>
			<folder path="...\Source2"/>
			<folder path="...\Source3"/>
		</sourceFolders>
		<filePattern pattern="^\w\w\w_\d\d\d.((jpg)|(png))$"/>
		<destinationFolder path ="...\Destination"/>
		<recoveryDirectory path="...\Recovery"/>
	</scannerSection>

</configuration>